.passenger-general {
    /* font-family: "Open Sans", sans-serif; */
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.enlace-passenger {
    text-decoration: none;
    text-align: center;
}

.title-passenger {
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
}

.second-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
}

.split {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-blend-mode: overlay;
}

.second-split {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-blend-mode: overlay;
}

/* Hovers */

/* Primer Split Hover */

.left-passenger:hover {
    width: 150%;
    height: 100vh;
    transform: scale(1.0);
}

.right-passenger:hover {
    width: 150%;
    height: 100vh;
    transform: scale(1.0);
}

.central-passenger:hover {
    width: 150%;
    height: 100vh;
    transform: scale(1.0);
}

/* Segundo Split Hover */

.second-left-passenger:hover {
    width: 150%;
    height: 100vh;
    transform: scale(1.0);
}

.second-right-passenger:hover {
    width: 150%;
    height: 100vh;
    transform: scale(1.0);
}

.second-central-passenger:hover {
    width: 150%;
    height: 100vh;
    transform: scale(1.0);
}

/* Tercer Split Hover */

.third-left-passenger:hover {
    width: 150%;
    height: 100vh;
    transform: scale(1.0);
}

.third-right-passenger:hover {
    width: 150%;
    height: 100vh;
    transform: scale(1.0);
}

.third-central-passenger:hover {
    width: 150%;
    height: 100vh;
    transform: scale(1.0);
}

/* Cuarto Split Hover */

.fourth-left-passenger:hover {
    width: 150%;
    height: 100vh;
    transform: scale(1.0);
}

.fourth-right-passenger:hover {
    width: 150%;
    height: 100vh;
    transform: scale(1.0);
}

.fourth-central-passenger:hover {
    width: 150%;
    height: 100vh;
    transform: scale(1.0);
}

/* Fin Hovers */

/* Splits */

/* Primer Split */

.left-passenger {
    background-image: url("../../../../public/images/productos/gasolina_motor_pasajero/20w50-mineral-presentacion.webp");
    width: 100%;
    height: 100vh;
}

.right-passenger {
    background-image: url("../../../../public/images/productos/gasolina_motor_pasajero/20w50-mineral-ficha.webp");
    width: 100%;
    height: 100vh;
}

.central-passenger {
    background-image: url("../../../../public/images/productos/gasolina_motor_pasajero/20w50-mineral.webp");
    width: 100%;
    height: 100vh;
}

/* Segundo Split */

.second-left-passenger {
    background-image: url("../../../../public/images/productos/gasolina_motor_pasajero/5w20-ultrasynth-presentacion.webp");
    width: 100%;
    height: 100vh;
}

.second-right-passenger {
    background-image: url("../../../../public/images/productos/gasolina_motor_pasajero/5w20-ultrasynth-ficha.webp");
    width: 100%;
    height: 100vh;
}

.second-central-passenger {
    background-image: url("../../../../public/images/productos/gasolina_motor_pasajero/5w20-ultrasynth.webp");
    width: 100%;
    height: 100vh;
}

/* Tercer Split */

.third-left-passenger {
    background-image: url("../../../../public/images/productos/gasolina_motor_pasajero/15w-40-mineral-presentacion.webp");
    width: 100%;
    height: 100vh;
}

.third-right-passenger {
    background-image: url("../../../../public/images/productos/gasolina_motor_pasajero/15w-40-mineral-ficha.webp");
    width: 100%;
    height: 100vh;
}

.third-central-passenger {
    background-image: url("../../../../public/images/productos/gasolina_motor_pasajero/15w-40-mineral.webp");
    width: 100%;
    height: 100vh;
}

/* Cuarto Split */

.fourth-left-passenger {
    background-image: url("../../../../public/images/productos/gasolina_motor_pasajero/15w-40-semisynt-presentacion.webp");
    width: 100%;
    height: 100vh;
}

.fourth-right-passenger {
    background-image: url("../../../../public/images/productos/gasolina_motor_pasajero/15w-40-semisynt-ficha.webp");
    width: 100%;
    height: 100vh;
}

.fourth-central-passenger {
    background-image: url("../../../../public/images/productos/gasolina_motor_pasajero/15w-40-semisynt.webp");
    width: 100%;
    height: 100vh;
}

/* Fin Splits */

@media (min-width: 600px) {
    .title-passenger {
        font-size: 2rem;
    }

    .main {
        flex-direction: row;
    }

    .second-main {
        flex-direction: row;
    }

    .split {
        width: 50% !important;
        transition: width 1s ease;
    }

    .second-split {
        width: 50%;
        transition: width 1s ease;
    }

    .hover-left .left {
        width: 80%;
    }

    .hover-left .right {
        width: 80%;
    }

    .hover-left .central {
        width: 20%;
    }

    .hover-right .left {
        width: 80%;
    }

    .hover-right .right {
        width: 80%;
    }

    .hover-right .central {
        width: 20%;
    }

    .hover-central .central {
        width: 80%;
    }

    .hover-central .left {
        width: 20%;
    }

    .hover-central .right {
        width: 20%;
    }

    /* segundo hover */

    .hover-second-left .left {
        width: 80%;
    }

    .hover-second-left .right {
        width: 80%;
    }

    .hover-second-left .central {
        width: 20%;
    }

    .hover-second-right .left {
        width: 80%;
    }

    .hover-second-right .right {
        width: 80%;
    }

    .hover-second-right .central {
        width: 20%;
    }

    .hover-second-central .central {
        width: 80%;
    }

    .hover-second-central .left {
        width: 20%;
    }

    .hover-second-central .right {
        width: 20%;
    }
}